<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>detected_versions</key>
	<array>
		<dict>
			<key>pkg_path</key>
			<string>AutoDMG</string>
			<key>version</key>
			<string>1.5.3</string>
		</dict>
		<dict>
			<key>pkg_path</key>
			<string>Caffeine</string>
			<key>version</key>
			<string>1.1.1</string>
		</dict>
		<dict>
			<key>pkg_path</key>
			<string>CreateUserPkg</string>
			<key>version</key>
			<string>1.2.4</string>
		</dict>
	</array>
	<key>failures</key>
	<array>
		<dict>
			<key>message</key>
			<string>Error in io.github.hjuutilainen.jss.iTerm2: Processor: CodeSignatureVerifier: Error: Code signature verification failed. Note that all verifications can be disabled by setting the variable DISABLE_CODE_SIGNATURE_VERIFICATION to a non-empty value.</string>
			<key>recipe</key>
			<string>io.github.hjuutilainen.jss.iTerm2</string>
		</dict>
	</array>
	<key>new_downloads</key>
	<array>
		<string>~/Library/AutoPkg/Cache/com.github.timsutton.download.AutoDMG/downloads/AutoDMG.dmg</string>
		<string>~/Library/AutoPkg/Cache/com.github.jleggat.BatChmod.download/downloads/batchmod_163.zip</string>
		<string>~/Library/AutoPkg/Cache/com.github.jleggat.BonjourBrowser.download/downloads/BonjourBrowser.dmg</string>
		<string>~/Library/AutoPkg/Cache/com.github.jleggat.download.CreateUserPkg/downloads/CreateUserPkg.dmg</string>
		<string>~/Library/AutoPkg/Cache/com.github.jleggat.CreateUserPkg.install/downloads/CreateUserPkg.dmg</string>
		<string>~/Library/AutoPkg/Cache/com.github.jleggat.BonjourBrowser.install/downloads/BonjourBrowser.dmg</string>
		<string>~/Library/AutoPkg/Cache/com.github.jleggat.BatChmod.install/downloads/batchmod_163.zip</string>
		<string>~/Library/AutoPkg/Cache/local.install.AutoDMG/downloads/AutoDMG.dmg</string>
		<string>~/Library/AutoPkg/Cache/com.github.timsutton.munki.AutoDMG/downloads/AutoDMG.dmg</string>
		<string>~/Library/AutoPkg/Cache/com.github.keeleysam.recipes.Caffeine.munki/downloads/Caffeine.zip</string>
	</array>
	<key>new_imports</key>
	<array>
		<dict>
			<key>catalogs</key>
			<array>
				<string>devel</string>
				<string>testing</string>
			</array>
			<key>name</key>
			<string>AutoDMG</string>
			<key>pkg_path</key>
			<string>/Users/Shared/munki_repo/pkgs/apps/AutoDMG-1.5.3.dmg</string>
			<key>pkginfo_path</key>
			<string>/Users/Shared/munki_repo/pkgsinfo/apps/AutoDMG-1.5.3.plist</string>
			<key>version</key>
			<string>1.5.3</string>
		</dict>
		<dict>
			<key>catalogs</key>
			<array>
				<string>testing</string>
				<string>pre-production</string>
			</array>
			<key>name</key>
			<string>Caffeine</string>
			<key>pkg_path</key>
			<string>/Users/Shared/munki_repo/pkgs/apps/Caffeine/Caffeine-1.1.1.dmg</string>
			<key>pkginfo_path</key>
			<string>/Users/Shared/munki_repo/pkgsinfo/apps/Caffeine/Caffeine-1.1.1.plist</string>
			<key>version</key>
			<string>1.1.1</string>
		</dict>
	</array>
	<key>new_packages</key>
	<array>
		<dict>
			<key>id</key>
			<string>se.gu.it.AutoDMG.pkg</string>
			<key>pkg_path</key>
			<string>~/Library/AutoPkg/Cache/local.install.AutoDMG/AutoDMG-1.5.3.pkg</string>
			<key>version</key>
			<string>1.5.3</string>
		</dict>
	</array>
	<key>report_version</key>
	<string>0.4.2</string>
</dict>
</plist>
