<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>summary_results</key>
	<dict>
		<key>install_from_dmg_summary_result</key>
		<dict>
			<key>data_rows</key>
			<array>
				<string>~/Library/AutoPkg/Cache/com.github.jleggat.CreateUserPkg.install/downloads/CreateUserPkg.dmg</string>
				<string>~/Library/AutoPkg/Cache/com.github.jleggat.BonjourBrowser.install/downloads/BonjourBrowser.dmg</string>
				<string>~/Library/AutoPkg/Cache/com.github.jleggat.BatChmod.install/BatChmod.dmg</string>
			</array>
			<key>header</key>
			<array>
				<string>dmg_path</string>
			</array>
			<key>summary_text</key>
			<string>Items from the following disk images were successfully installed:</string>
		</dict>
		<key>installer_summary_result</key>
		<dict>
			<key>data_rows</key>
			<array>
				<dict>
					<key>pkg_path</key>
					<string>~/Library/AutoPkg/Cache/local.install.AutoDMG/AutoDMG-1.5.2.pkg</string>
				</dict>
			</array>
			<key>header</key>
			<array>
				<string>pkg_path</string>
			</array>
			<key>summary_text</key>
			<string>The following packages were successfully installed:</string>
		</dict>
		<key>munki_importer_summary_result</key>
		<dict>
			<key>data_rows</key>
			<array>
				<dict>
					<key>catalogs</key>
					<string>testing</string>
					<key>name</key>
					<string>AutoDMG</string>
					<key>pkg_repo_path</key>
					<string>apps/AutoDMG-1.5.2.dmg</string>
					<key>pkginfo_path</key>
					<string>apps/AutoDMG-1.5.2.plist</string>
					<key>version</key>
					<string>1.5.2</string>
				</dict>
				<dict>
					<key>catalogs</key>
					<string>testing</string>
					<key>name</key>
					<string>Caffeine</string>
					<key>pkg_repo_path</key>
					<string>apps/Caffeine/Caffeine-1.1.1.dmg</string>
					<key>pkginfo_path</key>
					<string>apps/Caffeine/Caffeine-1.1.1.plist</string>
					<key>version</key>
					<string>1.1.1</string>
				</dict>
			</array>
			<key>header</key>
			<array>
				<string>name</string>
				<string>version</string>
				<string>catalogs</string>
				<string>pkginfo_path</string>
				<string>pkg_repo_path</string>
			</array>
			<key>summary_text</key>
			<string>The following new items were imported into Munki:</string>
		</dict>
		<key>pkg_creator_summary_result</key>
		<dict>
			<key>data_rows</key>
			<array>
				<dict>
					<key>identifier</key>
					<string>se.gu.it.AutoDMG.pkg</string>
					<key>pkg_path</key>
					<string>~/Library/AutoPkg/Cache/local.install.AutoDMG/AutoDMG-1.5.2.pkg</string>
					<key>version</key>
					<string>1.5.2</string>
				</dict>
			</array>
			<key>header</key>
			<array>
				<string>identifier</string>
				<string>version</string>
				<string>pkg_path</string>
			</array>
			<key>summary_text</key>
			<string>The following packages were built:</string>
		</dict>
		<key>url_downloader_summary_result</key>
		<dict>
			<key>data_rows</key>
			<array>
				<dict>
					<key>download_path</key>
					<string>~/Library/AutoPkg/Cache/com.github.timsutton.download.AutoDMG/downloads/AutoDMG.dmg</string>
				</dict>
				<dict>
					<key>download_path</key>
					<string>~/Library/AutoPkg/Cache/com.github.jleggat.BatChmod.download/downloads/batchmod_163.zip</string>
				</dict>
				<dict>
					<key>download_path</key>
					<string>~/Library/AutoPkg/Cache/com.github.jleggat.BonjourBrowser.download/downloads/BonjourBrowser.dmg</string>
				</dict>
				<dict>
					<key>download_path</key>
					<string>~/Library/AutoPkg/Cache/com.github.jleggat.download.CreateUserPkg/downloads/CreateUserPkg.dmg</string>
				</dict>
				<dict>
					<key>download_path</key>
					<string>~/Library/AutoPkg/Cache/com.github.jleggat.CreateUserPkg.install/downloads/CreateUserPkg.dmg</string>
				</dict>
				<dict>
					<key>download_path</key>
					<string>~/Library/AutoPkg/Cache/com.github.jleggat.BonjourBrowser.install/downloads/BonjourBrowser.dmg</string>
				</dict>
				<dict>
					<key>download_path</key>
					<string>~/Library/AutoPkg/Cache/com.github.jleggat.BatChmod.install/downloads/batchmod_163.zip</string>
				</dict>
				<dict>
					<key>download_path</key>
					<string>~/Library/AutoPkg/Cache/local.install.AutoDMG/downloads/AutoDMG.dmg</string>
				</dict>
				<dict>
					<key>download_path</key>
					<string>~/Library/AutoPkg/Cache/com.github.timsutton.munki.AutoDMG/downloads/AutoDMG.dmg</string>
				</dict>
				<dict>
					<key>download_path</key>
					<string>~/Library/AutoPkg/Cache/com.github.keeleysam.recipes.Caffeine.munki/downloads/Caffeine.zip</string>
				</dict>
			</array>
			<key>header</key>
			<array>
				<string>download_path</string>
			</array>
			<key>summary_text</key>
			<string>The following new items were downloaded:</string>
		</dict>
	</dict>
	<key>failures</key>
	<array>
		<array>
			<string>Error in io.github.hjuutilainen.jss.iTerm2: Processor: CodeSignatureVerifier: Error: Code signature verification failed. Note that all verifications can be disabled by setting the variable DISABLE_CODE_SIGNATURE_VERIFICATION to a non-empty value.</string>
			<string>io.github.hjuutilainen.jss.iTerm2</string>
		</array>
	</array>
	<key>report_version</key>
	<string>0.4.3</string>
</dict>
</plist>
