<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>detected_versions</key>
	<array>
		<dict>
			<key>pkg_path</key>
			<string>AutoDMG</string>
			<key>version</key>
			<string>1.5.2</string>
		</dict>
		<dict>
			<key>pkg_path</key>
			<string>Caffeine</string>
			<key>version</key>
			<string>1.1.1</string>
		</dict>
		<dict>
			<key>pkg_path</key>
			<string>CreateUserPkg</string>
			<key>version</key>
			<string>1.2.4</string>
		</dict>
	</array>
	<key>error</key>
	<dict>
		<key>description</key>
		<string>Error running recipes</string>
		<key>suggestion</key>
		<string>Code signature verification failed. Note that all verifications can be disabled by setting the variable DISABLE_CODE_SIGNATURE_VERIFICATION to a non-empty value.
There was an unknown exception which causes autopkg to fail.</string>
	</dict>
	<key>failures</key>
	<array>
		<dict>
			<key>message</key>
			<string>Error in io.github.hjuutilainen.jss.iTerm2: Processor: CodeSignatureVerifier: Error: Code signature verification failed. Note that all verifications can be disabled by setting the variable DISABLE_CODE_SIGNATURE_VERIFICATION to a non-empty value.</string>
			<key>recipe</key>
			<string>io.github.hjuutilainen.jss.iTerm2</string>
		</dict>
		<dict>
			<key>message</key>
			<string>Unknown processor &apos;io.github.hjuutilainen.VirusTotalAnalyzer/VirusTotalAnalyzer&apos;.</string>
			<key>recipe</key>
			<string>com.github.autopkg.pkg.Adium</string>
			<key>traceback</key>
			<string>Traceback (most recent call last):
  File &quot;/usr/local/bin/autopkg&quot;, line 1460, in run_recipes
    autopackager.verify(recipe)
  File &quot;/Library/AutoPkg/autopkglib/__init__.py&quot;, line 410, in verify
    raise AutoPackagerError(msg)
AutoPackagerError: Unknown processor &apos;io.github.hjuutilainen.VirusTotalAnalyzer/VirusTotalAnalyzer&apos;.
</string>
		</dict>
	</array>
	<key>has_summary_results</key>
	<integer>7</integer>
	<key>install_from_dmg</key>
	<dict>
		<key>data_rows</key>
		<array>
			<dict>
				<key>dmg_path</key>
				<string>~/Library/AutoPkg/Cache/com.github.homebysix.install.coconutBattery/coconutBattery.dmg</string>
			</dict>
			<dict>
				<key>dmg_path</key>
				<string>~/Library/AutoPkg/Cache/com.github.jleggat.CreateUserPkg.install/downloads/CreateUserPkg.dmg</string>
			</dict>
			<dict>
				<key>dmg_path</key>
				<string>~/Library/AutoPkg/Cache/com.github.jleggat.BonjourBrowser.install/downloads/BonjourBrowser.dmg</string>
			</dict>
			<dict>
				<key>dmg_path</key>
				<string>~/Library/AutoPkg/Cache/com.github.jleggat.BatChmod.install/BatChmod.dmg</string>
			</dict>
		</array>
		<key>header</key>
		<array>
			<string>dmg_path</string>
		</array>
		<key>summary_text</key>
		<string>Items from the following disk images were successfully installed:</string>
	</dict>
	<key>installer</key>
	<dict>
		<key>data_rows</key>
		<array>
			<dict>
				<key>pkg_path</key>
				<string>~/Library/AutoPkg/Cache/local.install.AutoDMG/AutoDMG-1.5.2.pkg</string>
			</dict>
		</array>
		<key>header</key>
		<array>
			<string>pkg_path</string>
		</array>
		<key>summary_text</key>
		<string>The following packages were successfully installed:</string>
	</dict>
	<key>jss_importer</key>
	<dict>
		<key>data_rows</key>
		<array>
			<dict>
				<key>Categories</key>
				<string>Digital Media</string>
				<key>Extension Attributes</key>
				<string>AdobeFlashVersion</string>
				<key>Groups</key>
				<string>AdobeFlashPlayer-update-smart</string>
				<key>Icon</key>
				<string>AdobeFlashPlayer.png</string>
				<key>Package</key>
				<string>AdobeFlashPlayer-21.0.0.197.pkg</string>
				<key>Policy</key>
				<string>Install Latest AdobeFlashPlayer</string>
				<key>Scripts</key>
				<string>AdobeFlashScript.sh</string>
			</dict>
			<dict>
				<key>Categories</key>
				<string></string>
				<key>Extension Attributes</key>
				<string></string>
				<key>Groups</key>
				<string>Evernote-update-smart</string>
				<key>Icon</key>
				<string>Evernote.png</string>
				<key>Package</key>
				<string>Evernote-6.6.pkg</string>
				<key>Policy</key>
				<string>Install Latest Evernote</string>
				<key>Scripts</key>
				<string></string>
			</dict>
			<dict>
				<key>Categories</key>
				<string></string>
				<key>Extension Attributes</key>
				<string></string>
				<key>Groups</key>
				<string>1Password-update-smart</string>
				<key>Icon</key>
				<string></string>
				<key>Package</key>
				<string></string>
				<key>Policy</key>
				<string>Install Latest 1Password</string>
				<key>Scripts</key>
				<string></string>
			</dict>
		</array>
		<key>header</key>
		<array>
			<string>Categories</string>
			<string>Extension Attributes</string>
			<string>Groups</string>
			<string>Icon</string>
			<string>Package</string>
			<string>Policy</string>
			<string>Scripts</string>
		</array>
		<key>summary_text</key>
		<string>The following changes were made to the JSS:</string>
	</dict>
	<key>munki_importer</key>
	<dict>
		<key>data_rows</key>
		<array>
			<dict>
				<key>catalogs</key>
				<string>testing</string>
				<key>name</key>
				<string>AutoDMG</string>
				<key>pkg_repo_path</key>
				<string>apps/AutoDMG-1.5.2.dmg</string>
				<key>pkginfo_path</key>
				<string>apps/AutoDMG-1.5.2.plist</string>
				<key>version</key>
				<string>1.5.2</string>
			</dict>
			<dict>
				<key>catalogs</key>
				<string>testing</string>
				<key>name</key>
				<string>Caffeine</string>
				<key>pkg_repo_path</key>
				<string>apps/Caffeine/Caffeine-1.1.1.dmg</string>
				<key>pkginfo_path</key>
				<string>apps/Caffeine/Caffeine-1.1.1.plist</string>
				<key>version</key>
				<string>1.1.1</string>
			</dict>
		</array>
		<key>header</key>
		<array>
			<string>name</string>
			<string>version</string>
			<string>catalogs</string>
			<string>pkginfo_path</string>
			<string>pkg_repo_path</string>
		</array>
		<key>summary_text</key>
		<string>The following new items were imported into Munki:</string>
	</dict>
	<key>pkg_copier</key>
	<dict>
		<key>data_rows</key>
		<array>
			<dict>
				<key>pkg_path</key>
				<string>~/Library/AutoPkg/Cache/com.github.autopkg.jss.FlashPlayerExtractPackage/AdobeFlashPlayer-21.0.0.197.pkg</string>
			</dict>
		</array>
		<key>header</key>
		<array>
			<string>pkg_path</string>
		</array>
		<key>summary_text</key>
		<string>The following packages were copied:</string>
	</dict>
	<key>pkg_creator</key>
	<dict>
		<key>data_rows</key>
		<array>
			<dict>
				<key>identifier</key>
				<string>se.gu.it.AutoDMG.pkg</string>
				<key>pkg_path</key>
				<string>~/Library/AutoPkg/Cache/local.install.AutoDMG/AutoDMG-1.5.2.pkg</string>
				<key>version</key>
				<string>1.5.2</string>
			</dict>
		</array>
		<key>header</key>
		<array>
			<string>identifier</string>
			<string>version</string>
			<string>pkg_path</string>
		</array>
		<key>summary_text</key>
		<string>The following packages were built:</string>
	</dict>
	<key>report_version</key>
	<string>0.4.3</string>
	<key>summary_results</key>
	<dict>
		<key>install_from_dmg_summary_result</key>
		<dict>
			<key>data_rows</key>
			<array>
				<dict>
					<key>dmg_path</key>
					<string>~/Library/AutoPkg/Cache/com.github.jleggat.CreateUserPkg.install/downloads/CreateUserPkg.dmg</string>
				</dict>
				<dict>
					<key>dmg_path</key>
					<string>~/Library/AutoPkg/Cache/com.github.jleggat.BonjourBrowser.install/downloads/BonjourBrowser.dmg</string>
				</dict>
				<dict>
					<key>dmg_path</key>
					<string>~/Library/AutoPkg/Cache/com.github.jleggat.BatChmod.install/BatChmod.dmg</string>
				</dict>
			</array>
			<key>header</key>
			<array>
				<string>dmg_path</string>
			</array>
			<key>summary_text</key>
			<string>Items from the following disk images were successfully installed:</string>
		</dict>
		<key>installer_summary_result</key>
		<dict>
			<key>data_rows</key>
			<array>
				<dict>
					<key>pkg_path</key>
					<string>~/Library/AutoPkg/Cache/local.install.AutoDMG/AutoDMG-1.5.2.pkg</string>
				</dict>
			</array>
			<key>header</key>
			<array>
				<string>pkg_path</string>
			</array>
			<key>summary_text</key>
			<string>The following packages were successfully installed:</string>
		</dict>
		<key>jss_importer_summary_result</key>
		<dict>
			<key>data_rows</key>
			<array>
				<dict>
					<key>Categories</key>
					<string></string>
					<key>Extension Attributes</key>
					<string>AdobeFlashVersion</string>
					<key>Groups</key>
					<string>AdobeFlashPlayer-update-smart</string>
					<key>Icon</key>
					<string></string>
					<key>Package</key>
					<string>AdobeFlashPlayer-21.0.0.197.pkg</string>
					<key>Policy</key>
					<string>Install Latest AdobeFlashPlayer</string>
					<key>Scripts</key>
					<string></string>
				</dict>
				<dict>
					<key>Categories</key>
					<string></string>
					<key>Extension Attributes</key>
					<string></string>
					<key>Groups</key>
					<string>Evernote-update-smart</string>
					<key>Icon</key>
					<string>Evernote.png</string>
					<key>Package</key>
					<string>Evernote-6.6.pkg</string>
					<key>Policy</key>
					<string>Install Latest Evernote</string>
					<key>Scripts</key>
					<string></string>
				</dict>
				<dict>
					<key>Categories</key>
					<string></string>
					<key>Extension Attributes</key>
					<string></string>
					<key>Groups</key>
					<string>1Password-update-smart</string>
					<key>Icon</key>
					<string></string>
					<key>Package</key>
					<string></string>
					<key>Policy</key>
					<string>Install Latest 1Password</string>
					<key>Scripts</key>
					<string></string>
				</dict>
			</array>
			<key>header</key>
			<array>
				<string>Categories</string>
				<string>Extension Attributes</string>
				<string>Groups</string>
				<string>Icon</string>
				<string>Package</string>
				<string>Policy</string>
				<string>Scripts</string>
			</array>
			<key>summary_text</key>
			<string>The following changes were made to the JSS:</string>
		</dict>
		<key>munki_importer_summary_result</key>
		<dict>
			<key>data_rows</key>
			<array>
				<dict>
					<key>catalogs</key>
					<string>testing</string>
					<key>name</key>
					<string>Evernote</string>
					<key>pkg_repo_path</key>
					<string>apps/Evernote/Evernote-6.6.dmg</string>
					<key>pkginfo_path</key>
					<string>apps/Evernote/Evernote-6.6.plist</string>
					<key>version</key>
					<string>6.6</string>
				</dict>
				<dict>
					<key>catalogs</key>
					<string>testing</string>
					<key>name</key>
					<string>AutoDMG</string>
					<key>pkg_repo_path</key>
					<string>apps/AutoDMG-1.5.2.dmg</string>
					<key>pkginfo_path</key>
					<string>apps/AutoDMG-1.5.2.plist</string>
					<key>version</key>
					<string>1.5.2</string>
				</dict>
				<dict>
					<key>catalogs</key>
					<string>testing</string>
					<key>name</key>
					<string>Caffeine</string>
					<key>pkg_repo_path</key>
					<string>apps/Caffeine/Caffeine-1.1.1.dmg</string>
					<key>pkginfo_path</key>
					<string>apps/Caffeine/Caffeine-1.1.1.plist</string>
					<key>version</key>
					<string>1.1.1</string>
				</dict>
			</array>
			<key>header</key>
			<array>
				<string>name</string>
				<string>version</string>
				<string>catalogs</string>
				<string>pkginfo_path</string>
				<string>pkg_repo_path</string>
			</array>
			<key>summary_text</key>
			<string>The following new items were imported into Munki:</string>
		</dict>
		<key>pkg_copier_summary_result</key>
		<dict>
			<key>data_rows</key>
			<array>
				<dict>
					<key>pkg_path</key>
					<string>~/Library/AutoPkg/Cache/com.github.autopkg.pkg.FlashPlayerExtractPackage/AdobeFlashPlayer-21.0.0.197.pkg</string>
				</dict>
			</array>
			<key>header</key>
			<array>
				<string>pkg_path</string>
			</array>
			<key>summary_text</key>
			<string>The following packages were copied:</string>
		</dict>
		<key>pkg_creator_summary_result</key>
		<dict>
			<key>data_rows</key>
			<array>
				<dict>
					<key>identifier</key>
					<string>com.evernote.Evernote</string>
					<key>pkg_path</key>
					<string>~/Library/AutoPkg/Cache/com.github.autopkg.pkg.Evernote/Evernote-6.6.pkg</string>
					<key>version</key>
					<string>6.6</string>
				</dict>
				<dict>
					<key>identifier</key>
					<string>se.gu.it.AutoDMG.pkg</string>
					<key>pkg_path</key>
					<string>~/Library/AutoPkg/Cache/local.install.AutoDMG/AutoDMG-1.5.2.pkg</string>
					<key>version</key>
					<string>1.5.2</string>
				</dict>
			</array>
			<key>header</key>
			<array>
				<string>identifier</string>
				<string>version</string>
				<string>pkg_path</string>
			</array>
			<key>summary_text</key>
			<string>The following packages were built:</string>
		</dict>
		<key>url_downloader_summary_result</key>
		<dict>
			<key>data_rows</key>
			<array>
				<dict>
					<key>download_path</key>
					<string>~/Library/AutoPkg/Cache/com.github.timsutton.download.AutoDMG/downloads/AutoDMG.dmg</string>
				</dict>
				<dict>
					<key>download_path</key>
					<string>~/Library/AutoPkg/Cache/com.github.jleggat.BatChmod.download/downloads/batchmod_163.zip</string>
				</dict>
				<dict>
					<key>download_path</key>
					<string>~/Library/AutoPkg/Cache/com.github.jleggat.BonjourBrowser.download/downloads/BonjourBrowser.dmg</string>
				</dict>
				<dict>
					<key>download_path</key>
					<string>~/Library/AutoPkg/Cache/com.github.jleggat.download.CreateUserPkg/downloads/CreateUserPkg.dmg</string>
				</dict>
				<dict>
					<key>download_path</key>
					<string>~/Library/AutoPkg/Cache/com.github.jleggat.CreateUserPkg.install/downloads/CreateUserPkg.dmg</string>
				</dict>
				<dict>
					<key>download_path</key>
					<string>~/Library/AutoPkg/Cache/com.github.jleggat.BonjourBrowser.install/downloads/BonjourBrowser.dmg</string>
				</dict>
				<dict>
					<key>download_path</key>
					<string>~/Library/AutoPkg/Cache/com.github.jleggat.BatChmod.install/downloads/batchmod_163.zip</string>
				</dict>
				<dict>
					<key>download_path</key>
					<string>~/Library/AutoPkg/Cache/local.install.AutoDMG/downloads/AutoDMG.dmg</string>
				</dict>
				<dict>
					<key>download_path</key>
					<string>~/Library/AutoPkg/Cache/com.github.timsutton.munki.AutoDMG/downloads/AutoDMG.dmg</string>
				</dict>
				<dict>
					<key>download_path</key>
					<string>~/Library/AutoPkg/Cache/com.github.keeleysam.recipes.Caffeine.munki/downloads/Caffeine.zip</string>
				</dict>
			</array>
			<key>header</key>
			<array>
				<string>download_path</string>
			</array>
			<key>summary_text</key>
			<string>The following new items were downloaded:</string>
		</dict>
		<key>virus_total_analyzer_summary_result</key>
		<dict>
			<key>data_rows</key>
			<array>
				<dict>
					<key>name</key>
					<string>Firefox.dmg</string>
					<key>permalink</key>
					<string>https://www.virustotal.com/file/2eb674c00e35357dcb18a5642f19422cf086e72d42562346ae48aa1e3f29802a/analysis/1457444467/</string>
					<key>ratio</key>
					<string>0/55</string>
				</dict>
				<dict>
					<key>name</key>
					<string>GoogleChrome.dmg</string>
					<key>permalink</key>
					<string>https://www.virustotal.com/file/0df5214c8ad8e662dad5bb0ff5f6805e57d0f880a599c2e9ea809ca390a661b2/analysis/1457252047/</string>
					<key>ratio</key>
					<string>0/54</string>
				</dict>
			</array>
			<key>header</key>
			<array>
				<string>name</string>
				<string>ratio</string>
				<string>permalink</string>
			</array>
			<key>summary_text</key>
			<string>The following items were queried from VirusTotal database:</string>
		</dict>
	</dict>
	<key>virus_total_analyzer</key>
	<dict>
		<key>data_rows</key>
		<array>
			<dict>
				<key>name</key>
				<string>Firefox.dmg</string>
				<key>permalink</key>
				<string>https://www.virustotal.com/file/2eb674c00e35357dcb18a5642f19422cf086e72d42562346ae48aa1e3f29802a/analysis/1457444467/</string>
				<key>ratio</key>
				<string>0/55</string>
			</dict>
			<dict>
				<key>name</key>
				<string>GoogleChrome.dmg</string>
				<key>permalink</key>
				<string>https://www.virustotal.com/file/0df5214c8ad8e662dad5bb0ff5f6805e57d0f880a599c2e9ea809ca390a661b2/analysis/1457252047/</string>
				<key>ratio</key>
				<string>0/54</string>
			</dict>
		</array>
		<key>header</key>
		<array>
			<string>name</string>
			<string>ratio</string>
			<string>permalink</string>
		</array>
		<key>summary_text</key>
		<string>The following items were queried from VirusTotal database:</string>
	</dict>
	<key>updated_applications</key>
	<array>
		<dict>
			<key>name</key>
			<string>AutoDMG</string>
			<key>path</key>
			<string>AutoDMG.dmg</string>
			<key>version</key>
			<string>1.5.2</string>
		</dict>
		<dict>
			<key>name</key>
			<string>BonjourBrowser</string>
			<key>path</key>
			<string>BonjourBrowser.dmg</string>
			<key>version</key>
			<string>Unknown version</string>
		</dict>
		<dict>
			<key>name</key>
			<string>CreateUserPkg</string>
			<key>path</key>
			<string>CreateUserPkg.dmg</string>
			<key>version</key>
			<string>1.2.4</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Caffeine</string>
			<key>path</key>
			<string>Caffeine.zip</string>
			<key>version</key>
			<string>1.1.1</string>
		</dict>
		<dict>
			<key>name</key>
			<string>batchmod_163</string>
			<key>path</key>
			<string>batchmod_163.zip</string>
			<key>version</key>
			<string>Unknown version</string>
		</dict>
	</array>
	<key>url_downloader</key>
	<dict>
		<key>data_rows</key>
		<array>
			<dict>
				<key>download_path</key>
				<string>~/Library/AutoPkg/Cache/com.github.timsutton.download.AutoDMG/downloads/AutoDMG.dmg</string>
			</dict>
			<dict>
				<key>download_path</key>
				<string>~/Library/AutoPkg/Cache/com.github.jleggat.BatChmod.download/downloads/batchmod_163.zip</string>
			</dict>
			<dict>
				<key>download_path</key>
				<string>~/Library/AutoPkg/Cache/com.github.jleggat.BonjourBrowser.download/downloads/BonjourBrowser.dmg</string>
			</dict>
			<dict>
				<key>download_path</key>
				<string>~/Library/AutoPkg/Cache/com.github.jleggat.download.CreateUserPkg/downloads/CreateUserPkg.dmg</string>
			</dict>
			<dict>
				<key>download_path</key>
				<string>~/Library/AutoPkg/Cache/com.github.jleggat.CreateUserPkg.install/downloads/CreateUserPkg.dmg</string>
			</dict>
			<dict>
				<key>download_path</key>
				<string>~/Library/AutoPkg/Cache/com.github.jleggat.BonjourBrowser.install/downloads/BonjourBrowser.dmg</string>
			</dict>
			<dict>
				<key>download_path</key>
				<string>~/Library/AutoPkg/Cache/com.github.jleggat.BatChmod.install/downloads/batchmod_163.zip</string>
			</dict>
			<dict>
				<key>download_path</key>
				<string>~/Library/AutoPkg/Cache/local.install.AutoDMG/downloads/AutoDMG.dmg</string>
			</dict>
			<dict>
				<key>download_path</key>
				<string>~/Library/AutoPkg/Cache/com.github.timsutton.munki.AutoDMG/downloads/AutoDMG.dmg</string>
			</dict>
			<dict>
				<key>download_path</key>
				<string>~/Library/AutoPkg/Cache/com.github.keeleysam.recipes.Caffeine.munki/downloads/Caffeine.zip</string>
			</dict>
		</array>
		<key>header</key>
		<array>
			<string>download_path</string>
		</array>
		<key>summary_text</key>
		<string>The following new items were downloaded:</string>
	</dict>
</dict>
</plist>
