* {
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    font-size: 11pt;
}

a {
    color: #157463;
    text-decoration: underline;
}

a:hover {
    color: #0d332a;
}

ul {
    list-style-type: none;
    padding: 0 5px 5px 0;
    margin: 0;
    margin-left: 50px;
}

h3 {
    padding: 0 5px 5px 0;
    font-weight: bold;
}

h4 {
    font-size: 10pt;
    text-align: center;
    margin: 30px 0 10px 0;
}

p {
    padding: 0 5px 5px 0;
}

table {
    margin-left: 50px;
}

td, th {
    padding: 0 15px 5px 0;
    text-align: left;
    vertical-align: top;
}

th {
    color: #acacac;
    font-size: 0.85em;
    font-weight: normal;
    text-transform: uppercase;
}

.status, .pkgname {
    font-weight: bold;
}

.indented {
    margin-left: 50px;
}

.footer {

}